<div class="header">
    <!-- <h1>
        
    </h1> -->
    <div class="buttons">
        <button mat-fab extended
            (click)="restaurantBtn()"
            matTooltip="register restaurant" >
            Add Restaurant
                <mat-icon>
                    add
                </mat-icon>
            </button >
        <button mat-fab extended 
        (click)="homeBtn()"
        matTooltip="home">
        home
            <mat-icon>
                home
            </mat-icon>
        </button >
        <button mat-fab extended
        (click)="loginBtn()"
        matTooltip="login">
        login
            <mat-icon>
                login
            </mat-icon>
        </button >
        <button mat-fab extended
        (click)="signupBtn()"
        matTooltip="signup">
        signup    
            <mat-icon>
                person_add_alt
            </mat-icon>
        </button >
<!-- 
        <button mat-fab extended
        matTooltip="users-list">
            <mat-icon>
                list
            </mat-icon>
        </button >

        <button mat-fab extended
        (click)="addBookBtn()"
        matTooltip="add item">
            <mat-icon>
                library_add
            </mat-icon>
        </button > -->

        <button mat-fab extended
        (click)="profileBtn()"
        matTooltip="user profile" >
        profile
            <mat-icon>
                account_circle
            </mat-icon>
        </button >
    </div>
</div>